Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” 
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [315]:
pip install selenium

Requirement already satisfied: selenium in c:\users\piyush\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\piyush\anaconda3\lib\site-packages (from selenium) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [4]:
driver=webdriver.Chrome(r"C:\Users\Piyush\Downloads\chromedriver_win32\chromedriver.exe")

In [32]:
url='https://www.naukri.com/'
driver.get(url)

In [33]:
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job

In [34]:
#Enter “Data Analyst” in “Skill,Designations,Companies” field

search_job.send_keys("Data Analyst")

In [35]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc

In [36]:
#enter “Bangalore” in “enter the location” field

search_loc.send_keys("Bangalore")

In [37]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn

In [38]:
#click the search button

search_btn.click()

In [39]:
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="0836abae-cc72-464e-aa58-e9c46a6054da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="abbc2c6f-077a-4b54-8e3a-04965a2ce494")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="42b85cb9-bb21-41a7-8067-2b05905ab360")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="e19e8b4d-6e13-4963-84d3-e4f5b74f94a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="a1e5ef76-cccb-4754-8e52-144b76de6c0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="86a56bd6-9191-4392-8865-aa9e6586d15a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="e4968968-eed7-4569-84ee-0242c597765f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="4a878021-d10c-43be-a1db-d13a9c5a8b6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="acd2f887-931e-4478-8fdc-184c35fa1c07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="2886e2f2-1028-4c8a-91d0-fbbd3a7febf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="6df9c963-68f8-424d-8912-37e3a879d0eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="ede7f6b4-4885-486f-a429-ce5c08b73286")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="8010bb31-c0a1-428e-aca1-c37ac299e9b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="37e63c8c-cbb9-4ced-b3fa-23a9bcfbbafd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="76f73b4c-3b10-4111-8529-21e327cee215")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="580dd9b2-4230-4de6-9ddb-24fad401c9d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="5fc8abde-571d-40ad-b20a-92919f8aed00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="686f27a8-57e6-4be8-af32-621293551c43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="df8b7a02-a54d-467c-a666-46de81403606")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="b89a7497-4f9c-4535-851f-f99668f3897a")>]

In [40]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)
    
job_titles

['Business Data Analyst',
 'Business Data Analyst',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'Business Data Analyst - Google Data Studio & SQL',
 'Data Analyst - Python/SQL',
 'Executive Data Analyst',
 'Senior Data Analyst',
 'Systems and Data Analyst, Safety and Provisioning',
 'Data Analyst with SQL',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'Data Analyst - EdTech',
 'Lead , Data Analyst',
 'Associate System and Data Analyst',
 'Data Analyst with SAS & Python',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [41]:
job_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_loc

[<selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="58798b44-5729-4bba-92e7-cafcced546cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="becf3777-cc79-4e2c-ada1-95bf7346d7b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="44f2367f-800d-4ee3-a19c-037a6881aaf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="8bc0418b-f437-4cc8-96d5-a042ed532e58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="dc4b9792-14ca-4b6e-a9f0-7fd446212cde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="1b507d51-9be4-4fbf-b774-45c6f40c0fe7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="b649e284-e2f1-4bf4-89c0-daf3f10588ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="1ba6580f-ddb1-4335-98e3-9e9df1208604")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="8d87bec4-c1c9-4c7f-a10f-95d396140df6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="cc143eab-7d27-4d89-8483-2681ce2db3c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="c89a5420-f757-43f0-8409-efa323dc8f2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="c32b5209-5236-4ef5-b0f4-73e2a1cb165e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="235fc8c5-be0d-42ac-84d8-d76fa0e1424d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="61196a53-a343-44c5-a689-0854d668e0f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="04449191-8701-41e7-a746-7e9babee8c5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="90d8567c-fe8a-4d3c-8c27-c8b02a19de70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="718c5b3f-f034-4132-93ad-247a8869346f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="3d001f82-c2da-4678-8cb5-2690328fb976")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="9c9e401f-e5c2-45f8-8caa-8b0f6b8561e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="19efea85-3cb5-4582-9289-3cd832a4af20")>]

In [42]:
job_location=[]
for i in job_loc:
    job_location.append(i.text)
    
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Mumbai, Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Chennai, Bangalore',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru(Indira Nagar)']

In [43]:
job_comp=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
job_comp

[<selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="cfd27679-2e31-4209-863b-2ee01d957f97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="7c60187a-292e-45c2-879b-d8afadcb5969")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="70ecfcee-ad47-491f-9236-4e99e49811f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="8b903af9-2327-449e-9afb-b91a135af4fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="61912634-0584-4b21-af96-a82adc79f788")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="0265f219-98b2-4413-8ab6-48872a335663")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="011d510c-1280-4b5c-a379-bda82dbb208c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="b9dc2d03-387d-40db-8258-298e760ae632")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="0cba87b5-28b5-4a16-bd91-a0e1d8e91ad2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="a74d31ea-b45f-4d72-8ecc-a893ffc58a43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="f8b16418-926d-4806-8f66-7ec384e63914")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="0fc369d6-f8ae-4ee1-9560-800d4de87754")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="36ff2c59-ca48-4795-bb2c-eed1f9aabf47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="366e42e0-883c-412f-9d0c-23a5dde0fb9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="9031126a-c0d6-4e76-adee-e381ad2bdff9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="4141be52-40d2-4589-9b7e-f7e981d6ba7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="6d7c414d-bae3-4ca9-9d02-cbeb658fa630")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="63072f0b-4e9e-4350-bfd8-1ecd78726a03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="58aea5d0-dd9a-46cb-b572-88168db1b7a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="918f5941-6cc3-4bcd-a555-b9ff012226e9")>]

In [44]:
job_company=[]
for i in job_comp:
    job_company.append(i.text)
    
job_company

['Trigent Software',
 'Trigent Software',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'AVE-Promagne',
 'Affine',
 'Gokaldas Exports Ltd',
 'Virtusa Consulting Services Pvt Ltd',
 'AECOM India Private Limited',
 'Wipro Limited',
 'IBM India Pvt. Limited',
 'INTERTRUST GROUP',
 'Edge Executive Search Pvt. Ltd.',
 'TalentStack',
 'Near Pte. Ltd.',
 'Boeing',
 'Podium Systems',
 'Coda Payments',
 'FedEx Express',
 'Supertails']

In [45]:
job_exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
job_exp

[<selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="69518afa-dcdc-4409-a7aa-c9b290177eb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="ade56f79-a683-41cf-b090-850d0eca2c96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="e76ffa41-3eb3-434c-922e-950d25542ee7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="598171a7-a0cb-4b90-b7eb-71b0ebb33984")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="4cab2d62-f957-437a-8416-fb080a472d49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="76bfecb1-31a3-4367-b7ca-17c9943b3e34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="84dd273f-9079-499e-97f1-0153a8b0b42c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="fb4a381f-403a-4ec8-9043-b6750b539d23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="96517a18-ed1b-4de3-b978-a30436e9a374")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="36bdd863-d3dc-4380-b5aa-aeccbedb3de5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="2d0024a6-ad05-4839-9097-71760f74d6dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="4e940f1b-8da9-406f-a94e-11fdf5203957")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="55f297e7-c189-409e-aad5-3a1b3c347ab4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="69a184dd-c3f7-4d06-98e2-85d8436cf409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="3da52af8-10db-4590-9073-b93ca86430f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="e9ce3283-65f1-4ba2-a1ed-a0fed69412d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="fc97eac3-0097-474b-89dc-0c745620ef99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="70885126-3583-4f24-bbd3-9d3b392f3713")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="473d7255-ebef-4e63-9df9-a6bf021b5327")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="c20cc035-4412-4ee9-ae78-66942e587a59")>]

In [46]:
job_experience=[]
for i in job_exp:
    job_experience.append(i.text)
    
job_experience

['5-10 Yrs',
 '5-10 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '0-3 Yrs',
 '8-12 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '1-4 Yrs',
 '3-8 Yrs',
 '0-2 Yrs',
 '2-6 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '4-7 Yrs',
 '3-4 Yrs',
 '2-6 Yrs',
 '1-3 Yrs']

In [47]:
#structured format - dataframe

job_desc=pd.DataFrame({})
job_desc['title']=job_titles[:10]
job_desc['location']=job_location[:10]
job_desc['company']=job_company[:10][:10]
job_desc['experience']=job_experience[:10]

job_desc

,title,location,company,experience
0,Business Data Analyst,Bangalore/Bengaluru,Trigent Software,5-10 Yrs
1,Business Data Analyst,Bangalore/Bengaluru,Trigent Software,5-10 Yrs
2,Senior Data Analyst IDAM Services,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs
3,Data Analyst/Sr.Data Engineer,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs
4,Business Data Analyst - Google Data Studio & SQL,Bangalore/Bengaluru,AVE-Promagne,3-8 Yrs
5,Data Analyst - Python/SQL,Bangalore/Bengaluru,Affine,3-5 Yrs
6,Executive Data Analyst,Bangalore/Bengaluru,Gokaldas Exports Ltd,0-3 Yrs
7,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Virtusa Consulting Services Pvt Ltd,8-12 Yrs
8,"Systems and Data Analyst, Safety and Provisioning",Bangalore/Bengaluru,AECOM India Private Limited,2-7 Yrs
9,Data Analyst with SQL,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Wipro Limited,3-5 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter 
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [48]:
url='https://www.naukri.com/'
driver.get(url)

In [49]:
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job

In [50]:
search_job.send_keys("Data Scientist")

In [51]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc

In [52]:
search_loc.send_keys("Bangalore")

In [53]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn

In [54]:
search_btn.click()

In [55]:
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="0c42586e-9e51-4f34-8da0-a61a13d53e61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="1b678100-80cf-4c21-8412-a6b13ff65785")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="ef8dd830-d47c-4a6a-a320-91b3700544ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="3843bb29-dda9-4d9c-b2df-73aacc7fb0c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="567d8701-dff0-4fcf-b4e8-39875af901b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="82521ee7-3720-4770-a507-b494aba0f3a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="1123519f-fba2-4cec-acf2-06286ded65e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="d567e598-8b65-49ee-b2db-64244e6c4421")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="a66d54bc-51b6-4a9d-a859-c69cd2453cdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="2a1528ab-ea65-4e91-82d0-a6b7b4bfbdc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="18515153-d819-49fd-bbb4-3f197b4588be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="3801c872-2937-4b16-9125-9c83fa01eb03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="f6567629-2c34-4c2d-8339-015b6711cd80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="2bbb2e0a-30a4-4666-a96c-7c06bbe5ad9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="0c99e595-d922-401f-b1d2-795c22e8f8c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="84dcf9cd-e15b-4e16-8579-7527469c0fda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="e20b0e7c-5edb-49f6-a4be-92c9122f8858")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="332ff52c-0b0e-438e-b590-170de21aeebb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="90e460cb-ef9e-43bc-a550-462d2ab9d2af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="b03f8752-34fa-47ed-adec-8068711333e1")>]

In [56]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)
    
job_titles

['Lead Data Scientist BFSI',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Hiring For Data Scientist / Statistical Analyst',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Cognitive Data Scientist',
 'Senior Data Scientist, Payments compliance',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'Senior Data Scientist',
 'Data Scientist (Python & SQL)',
 'Lead Data Scientist BFSI']

In [98]:
job_titles[:10]

['Lead Data Scientist BFSI',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Hiring For Data Scientist / Statistical Analyst',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [100]:
len(job_titles)

20

In [58]:
job_comp=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
job_comp

[<selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="46819f46-f93e-4745-82ce-c41ece369d71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="bc87b914-4910-4dbb-b55b-52c26ff8a9f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="9d744d97-6428-41fd-b7b4-5c4ca96a6290")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="898ef4dc-cf6c-4747-9e1b-10ca2cfd763c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="256513da-35b5-41ad-84b2-54eed1ccb578")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="c1dbba78-fa5b-4429-96ab-7870ffd94cff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="ec205b18-c187-4679-b577-e2d2a3b51e96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="b99ee763-39d3-4a57-b615-4c5c9fb2fa8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="01ff393d-1df1-485d-8aae-e6e04df579dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="fa28848f-2044-4cee-b945-eb06fa48467d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="e7ed9a7e-11b1-4ff3-afe0-cab713a88cd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="703ef70e-8994-47af-82de-f5f5f86ab1b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="07b7273e-57e1-4d9b-9e07-32787822d478")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="fb22de2a-3a6a-4ad7-8424-025dc1a1f2d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="1c5072bf-f24a-46ff-8a30-41ffa6b5f4fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="ce70f49b-5255-4c16-ac9b-8e0d6fef4bee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="cb7c88b5-dc3d-44a0-9e14-42584426e308")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="9e3969b5-864b-4d7d-8609-6cf9b58df889")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="079c33f3-c78e-45fd-abc6-b66cd744aae1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="72b3d698-7476-40d5-a32f-41b6e2a2263e")>]

In [59]:
job_company=[]
for i in job_comp:
    job_company.append(i.text)
    
job_company

['IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Airbnb',
 'Happiest Minds Technologies Pvt.Ltd',
 'CRISIL LIMITED',
 'ManpowerGroup Services India Private Limited',
 'Philips India Limited',
 'NeenOpal Intelligent Solutions Private Limited',
 'PRESCIENCE DECISION SOLUTIONS PRIVATE LIMITED',
 'ELPIS IT SOLUTIONS PVT LTD',
 'ELPIS IT SOLUTIONS PVT LTD',
 'Oracle India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED',
 'ANT work',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Philips India Limited',
 'AVE-Promagne',
 'IBM India Pvt. Limited']

In [97]:
job_company[:10]

['IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Airbnb',
 'Happiest Minds Technologies Pvt.Ltd',
 'CRISIL LIMITED',
 'ManpowerGroup Services India Private Limited',
 'Philips India Limited',
 'NeenOpal Intelligent Solutions Private Limited',
 'PRESCIENCE DECISION SOLUTIONS PRIVATE LIMITED',
 'ELPIS IT SOLUTIONS PVT LTD']

In [60]:
len(job_company)

20

In [61]:
job_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span[1]')
job_loc

[<selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="a2b67689-2c8c-46a2-9561-8c0eefbc5ef6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="f7daf336-f42a-4c24-8e7b-a604a5a791ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="c96579d4-588d-4f18-aba9-a4b0383108ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="23da3402-74e1-432a-ad85-91833f23d374")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="b997d5d1-e90b-415c-a994-862b96685b28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="b2de8ebb-a335-48b0-8563-c3936e6b41c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="22f07483-591f-41c4-adde-f9ebf9250fca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="8a9e8cd5-16cb-45ef-8c92-969796d14b96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="baf2a4e5-ad35-46f9-b10d-da98495a16a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="d43f600d-34e8-4cc8-a88c-171d613d3caf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="3a3e8e7f-d558-4ff5-8927-da5ef7424c8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="f6fdfdd2-6ed7-4b15-933e-b59094fc2ec5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="06d5d775-a814-42b5-9a4c-6fde33e57c65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="011d8360-9eed-441e-ae6b-bd03b2a2059a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="58f17f5d-c70c-4dd9-af13-3dd1e970a9d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="9296c235-6eb8-49cd-a380-e2e8ee6deb87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="6a982f84-e050-420a-8c34-2414c304dea3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="8ba4e26d-e43f-45c8-a4a4-0e2cbc3692d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="6bed1d3f-6522-4cb6-996b-99e2f30fcd68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="d15b08e4-3f98-4d77-99b1-84aa6b251c7f")>]

In [62]:
job_location=[]
for i in job_loc:
    job_location.append(i.text)
    
job_location

['Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bengaluru/Bangalore']

In [96]:
job_location[:10]

['Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [63]:
len(job_location)

20

In [64]:
job_des=driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')
job_des

[<selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="4c60a7c9-621d-4147-84fd-2d5de1a85af3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="afff8406-6750-48d8-bc10-d9fcfcc59f24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="a69d2704-4185-43b5-8d7f-f1273163b2ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="89a6b57f-e58b-4f8d-9649-6c693d76f98d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="a8da482f-60d5-42bf-aad6-b23e8a964b1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="d990d576-f9d1-416e-b361-fd892475fc47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="b013a557-63a7-4f7d-be47-f57683d23e9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="011aac7a-8bbc-4eef-9270-6f883fc19553")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="1e00a2c0-ce2a-4b42-9c6c-56e9094110c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="6c0dd58d-b63c-47db-be52-61263f7bece8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="0aa58066-cdb9-4c8b-b5e3-9bcf6f8bb038")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="2013cf4e-1129-4ed6-9500-6ca666f00710")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="24b0df84-b502-4375-b7f0-59649c705020")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="2bc9cc63-ad9c-4b65-a7b3-79d06abb6c42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="68e3e9fb-a5a5-4b50-96af-c3694a4f4bf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="88f0318b-80c5-41f1-a065-890c9422d0cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="2a2a6c72-c4e1-4d46-8c73-ea9c204f15c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="6b3c6505-c457-47c3-bdc4-b831ccccff6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="b96b17c9-b4b5-41de-8382-b04a6d32a933")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72ebe60185c3c833c4a476d87a9e7368", element="91d5ccd9-8207-4214-9d8e-4b9365cf169d")>]

In [65]:
job_desc=[]
for i in job_des:
    job_desc.append(i.text)
    
job_desc

['IntroductionSoftware Developers at IBM are the backbone of our strategic initiatives to...',
 'PhD / Masters in STEM-related fields with knowledge in Quantum ComputingRequired Techni...',
 'Professional industry experience in a quantitative analysis role (7+ years preferred) C...',
 'Should possess extensive knowledge of and experience in applying data mining and machin...',
 'CRISIL (formerly Credit Rating Information Services of India Limited) is an Indian anal...',
 'At least 2 years of experience implementing Machine learning algorithms such as Random ...',
 'Use predictive modeling to increase and optimize customer experiences, revenue generati...',
 'Should have strong mathematical background & analytical bent of mind We are looking ONL...',
 'Hi, We at Prescience www.prescienceds.com looking for Data Scientist @ Bangalore .Roles...',
 'Job Skills Required: Expert data science skills using supervised and unsupervised learn...',
 'Job Skills Required: Expert data science skills using supervised and unsupervised learn...',
 'Experience in delivering data science solutions in multiple tenancies is a plus Have a ...',
 'IntroductionAs a Data Scientist at IBM, you will help transform our clients data into t...',
 '4+ years industry experience in a quantitative analysis roleExperience in Payments a st...',
 'The ideal candidate should possess programming experience in Python / R (C++ will be a ...',
 'Demonstrated extensive experience in building and deploying production quality models i...',
 'Demonstrated extensive experience in building and deploying production quality models i...',
 'A Master s Degree or PhD in Computer Science, Econometrics, Artificial Intelligence, Ap...',
 'Required Technical and Professional Expertise• 6+ years of industry work experience in ...',
 'IntroductionSoftware Developers at IBM are the backbone of our strategic initiatives to...']

In [95]:
job_desc[:10]

['IntroductionSoftware Developers at IBM are the backbone of our strategic initiatives to...',
 'PhD / Masters in STEM-related fields with knowledge in Quantum ComputingRequired Techni...',
 'Professional industry experience in a quantitative analysis role (7+ years preferred) C...',
 'Should possess extensive knowledge of and experience in applying data mining and machin...',
 'CRISIL (formerly Credit Rating Information Services of India Limited) is an Indian anal...',
 'At least 2 years of experience implementing Machine learning algorithms such as Random ...',
 'Use predictive modeling to increase and optimize customer experiences, revenue generati...',
 'Should have strong mathematical background & analytical bent of mind We are looking ONL...',
 'Hi, We at Prescience www.prescienceds.com looking for Data Scientist @ Bangalore .Roles...',
 'Job Skills Required: Expert data science skills using supervised and unsupervised learn...']

In [66]:
len(job_desc)

20

In [67]:
import pandas as pd

In [68]:
#answer 2 data frame.

jobs=pd.DataFrame({})

jobs['title']=job_titles[:10]
jobs['location']=job_location[:10]
jobs['company']=job_company[:10]
jobs['description']=job_desc[:10]

jobs

,title,location,company,description
0,Lead Data Scientist BFSI,Bengaluru/Bangalore,IBM India Pvt. Limited,IntroductionSoftware Developers at IBM are the...
1,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM India Pvt. Limited,PhD / Masters in STEM-related fields with know...
2,Senior Data Scientist,Bangalore/Bengaluru,Airbnb,Professional industry experience in a quantita...
3,SENIOR DATA SCIENTIST,Bangalore/Bengaluru,Happiest Minds Technologies Pvt.Ltd,Should possess extensive knowledge of and expe...
4,Requirement For Data Scientist - Mumbai & Bang...,"Bangalore/Bengaluru, Mumbai (All Areas)",CRISIL LIMITED,CRISIL (formerly Credit Rating Information Ser...
5,Hiring For Data Scientist / Statistical Analyst,Bangalore/Bengaluru,ManpowerGroup Services India Private Limited,At least 2 years of experience implementing Ma...
6,Associate Data Scientist,Bangalore/Bengaluru,Philips India Limited,Use predictive modeling to increase and optimi...
7,Data Scientist,Bangalore/Bengaluru,NeenOpal Intelligent Solutions Private Limited,Should have strong mathematical background & a...
8,Data Scientist,Bangalore/Bengaluru,PRESCIENCE DECISION SOLUTIONS PRIVATE LIMITED,"Hi, We at Prescience www.prescienceds.com look..."
9,Data Scientist,Bangalore/Bengaluru,ELPIS IT SOLUTIONS PVT LTD,Job Skills Required: Expert data science skill...

In [69]:
url_1='https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=1631193653786625&xp=1&px=1'
driver.get(url_1)

In [73]:
desc1=driver.find_element_by_xpath('//div[@class="clearboth description"]')
desc1

In [74]:
desc1.text.replace("\n"," ")

'Introduction As a Data Scientist at IBM, you will help transform our clients data into tangible business value by analyzing information, communicating outcomes and collaborating on product development. Work with Best in Class open source and visual tools, along with the most flexible and scalable deployment options. Whether it s investigating patient trends or weather patterns, you will work to solve real world problems for the industries transforming how we live.  Your Role and Responsibilities Work with IBM Q Start team on active exploratory research engagements to prepare for future use case commercialization within specific industry Engage and educate client data science teams to define promising areas for quantum exploration Implement quantum approaches, which includes data pre-/post-processing, running numerics and visualizing data Collaborate with industry and solutioning experts to design and shape experiments to demonstrate quantum-enabled advantage Define best practices related to information architecture, including collection, integration, organization, analysis and visualization of data for quantum-enabled impact Engage in practice development initiatives focused on building employee knowledge and skills in specific areas of expertise through coaching and development of training course material  Required Technical and Professional Expertise PhD/Masters in STEM-related fields with knowledge in Quantum Computing. 5 years of data engineering and data science experience 2 years of consulting experience within specific industries with strong domain expertise and business acumen Proficiency with classical approaches to machine learning and linear algebra, including Support Vector Machine (SVM) for linear categorization and Singular Value Decomposition (SVD) to reduce dimensionality of data Familiar with Qiskit software, including Qiskit Aqua for domain applications and Qiskit Terra for quantum circuit design and optimization Excellent ideation, facilitation and communications skills Detail-oriented team player with strong interpersonal skills and ability to take a leadership role when necessary Willingness to travel globally up to 40% once we return to a travel-safe environment. English: Fluent  Preferred Technical and Professional Expertise 2 years of experience in at least one of the industries, with knowledge of industry trends, R&D areas, and computationally intensive processes (e.g. optimization) Familiarity with Qiskit'

In [72]:
url_2='https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=16311943684299861&xp=2&px=1'
driver.get(url_2)

In [75]:
desc2=driver.find_element_by_xpath('//div[@class="clearboth description"]')
desc2

In [76]:
desc2.text.replace("\n","")

'IntroductionAs a Data Scientist at IBM, you will help transform our clients data into tangible business value by analyzing information, communicating outcomes and collaborating on product development. Work with Best in Class open source and visual tools, along with the most flexible and scalable deployment options. Whether it s investigating patient trends or weather patterns, you will work to solve real world problems for the industries transforming how we live.Your Role and ResponsibilitiesWork with IBM Q Start team on active exploratory research engagements to prepare for future use case commercialization within specific industryEngage and educate client data science teams to define promising areas for quantum explorationImplement quantum approaches, which includes data pre-/post-processing, running numerics and visualizing dataCollaborate with industry and solutioning experts to design and shape experiments to demonstrate quantum-enabled advantageDefine best practices related to information architecture, including collection, integration, organization, analysis and visualization of data for quantum-enabled impactEngage in practice development initiatives focused on building employee knowledge and skills in specific areas of expertise through coaching and development of training course materialRequired Technical and Professional ExpertisePhD/Masters in STEM-related fields with knowledge in Quantum Computing.5 years of data engineering and data science experience2 years of consulting experience within specific industries with strong domain expertise and business acumenProficiency with classical approaches to machine learning and linear algebra, including Support Vector Machine (SVM) for linear categorization and Singular Value Decomposition (SVD) to reduce dimensionality of dataFamiliar with Qiskit software, including Qiskit Aqua for domain applications and Qiskit Terra for quantum circuit design and optimizationExcellent ideation, facilitation and communications skillsDetail-oriented team player with strong interpersonal skills and ability to take a leadership role when necessaryWillingness to travel globally up to 40% once we return to a travel-safe environment.English: FluentPreferred Technical and Professional Expertise2 years of experience in at least one of the industries, with knowledge of industry trends, R&D areas, and computationally intensive processes (e.g. optimization)Familiarity with Qiskit'

In [77]:
url_3='https://www.naukri.com/job-listings-senior-data-scientist-airbnb-bangalore-bengaluru-7-to-12-years-080921500017?src=jobsearchDesk&sid=16311947841567869&xp=3&px=1'
driver.get(url_3)

In [78]:
desc3=driver.find_element_by_xpath('//section[@class="job-desc"]')
desc3

In [79]:
desc3.text.replace("\n","")

'Job descriptionResponsibilities include:Defining and evaluating key metrics and understanding what moves them and whyOwnership of conceptualizing, developing, and maintaining dashboards and visualizationsInvestigating evolving fraud trends to extract patterns, identify root causes and propose actionable solutionsCommunicating analyses and recommendations to cross functional stakeholders for decision makingEmpowering the team to answer data questions quickly and easily by building high-quality ground truth data setsHere are example traits we value:Professional industry experience in a quantitative analysis role (7+ years preferred)Comfortable in SQL and some experience with a programming language (Python or R a plus)Ability to communicate clearly and effectively to cross functional partners of varying technical levelsAbility to define relevant metrics that can guide and influence stakeholders to the appropriate and accurate insightsExperience or willingness to learn tools to create data pipelines using AirflowBuilding clear and easy to understand dashboards (Tableau) and presentationsRoleGraphic/Web DesignerIndustry TypeInternetFunctional AreaIT Software - DBA, DatawarehousingEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :Any GraduatePG :Any PostgraduateKey SkillsData ScienceRData ScientistTableauPythonSql'

In [80]:
url_4='https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-070921501517?src=jobsearchDesk&sid=1631194956525753&xp=4&px=1'
driver.get(url_4)

In [81]:
desc4=driver.find_element_by_xpath('//section[@class="job-desc"]')
desc4

In [82]:
desc4.text.replace("\n","")

'Job description  SkillsRequired Skills: Data Science, Machine Learning, Deep Learning, Python, NLPDesired Skills: Computer VisionRoles and responsibilitiesExperience in Data Modelling, R, Python, SQL, Data Science, Machine Learning, Deep Learning, NLP, StatisticsHave ability to solve Business problems using DataShould possess extensive knowledge of and experience in applying data mining and machine learning techniques on large amount of datasetsHigh level of proficiency in statistical tools like R, PythonCandidate will be expected to communicate analytical results in a way that is meaningful for business stakeholders and provides actionable insights.Have the ability to discover new opportunities where advanced analytical techniques can be leveraged for solving business problemsGood to HaveExpertise in programming languages like Java/C/C /PythonExperience with relational databases and SQL is good to haveExperience in audio and video analyticsRelevant experience in Big Data platforms like Hadoop eco-systemCome up with innovative algorithms and solutionsStaffing Type:PermanentRoleClinical Research Associate/ScientistIndustry TypeIT Services & ConsultingFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, BiotechnologyEmployment TypeFull Time, PermanentRole CategoryR&DEducationUG :Any GraduatePG :Any PostgraduateKey SkillsHospitalityNSEStaffingBfsiAnalyticalAgileData miningAnalyticsAutomotiveSQL'

In [83]:
url_5='https://www.naukri.com/job-listings-requirement-for-data-scientist-mumbai-bangalore-crisil-limited-bangalore-bengaluru-mumbai-all-areas-2-to-6-years-080921005523?src=jobsearchDesk&sid=16311950568545770&xp=5&px=1'
driver.get(url_5)

In [84]:
desc5=driver.find_element_by_xpath('//section[@class="job-desc"]')
desc5

In [85]:
desc5.text.replace("\n","")

'Job descriptionCRISIL (formerly Credit Rating Information Services of India Limited) is an Indian analytical company providing ratings, research, and risk and policy advisory services and is a subsidiary of American company S&P GlobalWe are looking Data Scientist for Mumbai & Bangalore locationCandidates who can join immediately or within 30-45 need only applyPlease refer below JD for your reference-Job Description Data scientist:Client oriented approach to problem solving. Individual should be able to have a holistic view of multiple businesses and develop analytic solutions accordingly.Own and deliver multiple and complex analytic projects. This would require an understanding of business context, conversion of business problems in modeling, and implementing such solutions to create business value.Always up to date with the latest use cases of modeling community, machine learning and deep learning algorithms and share knowledge within the team.Proficiency in basic statistics, hypothesis testing, segmentation and predictive modeling.Ability to translate and articulate technical thoughts and ideas to a larger audience including influencing skills with peers and senior management.Strong project management skills.Ability to coach and mentor juniors.Eagerness to work on new and challenging tasks on a regular basis with an ability to research new ways of doing things better/efficiently.Contribute to organizational initiatives in wide ranging areas including competency development, training, organizational building activities etc.SkillsBasic QualificationsBachelors Degree with 2+ years of experience in data analytics,Hands-on experience in Python / SAS or R programing along with strong experience in SQL and Excel Macros.Experienced in working with large and multiple datasets, data warehouses and ability to pull data using relevant programs and coding.Well versed with necessary data preprocessing and feature engineering skills.At least 2 years of experience implementing Machine learning algorithms such as Random Forest and Gradient Boosting in solving business problems such as Default classification and macroeconomic forecasting.At least 1 year of experience implementing deep learning techniques like neural networksExposure to deep learning packages like TensorflowStrong background in Statistical AnalysisBackground in BFSI space will be preferredRoleData AnalystIndustry TypeBankingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any GraduatePG :Any PostgraduateKey SkillsrMachine LearningPythonTensorflowPredictive ModelingSegmentationNeural NetworksDeep LearningRandom ForestSQLSkills highlighted with ‘‘ are preferred keyskills'

In [86]:
url_6='https://www.naukri.com/job-listings-hiring-for-data-scientist-statistical-analyst-manpowergroup-services-india-private-limited-bangalore-bengaluru-2-to-4-years-080921011029?src=jobsearchDesk&sid=16311951136905080&xp=6&px=1'
driver.get(url_6)

In [87]:
desc6=driver.find_element_by_xpath('//section[@class="job-desc"]')
desc6

In [88]:
desc6.text.replace("\n","")

'Job descriptionDepartment- BIRS (Business Intelligence Risk Solutions)JD Statistical Analyst/ Data scientist:Client oriented approach to problem solving. Individual should be able to have a holistic view of multiple businesses and develop analytic solutions accordingly.Own and deliver multiple and complex analytic projects. This would require an understanding of business context, conversion of business problems in modeling, and implementing such solutions to create business value.Always up to date with the latest use cases of modeling community, machine learning and deep learning algorithms and share knowledge within the team.Proficiency in basic statistics, hypothesis testing, segmentation and predictive modeling.Ability to translate and articulate technical thoughts and ideas to a larger audience including influencing skills with peers and senior management.Strong project management skills.Ability to coach and mentor juniors.Eagerness to work on new and challenging tasks on a regular basis with an ability to research new ways of doing things better/efficiently.Contribute to organizational initiatives in wide ranging areas including competency development, training, organizational building activities etc.Basic QualificationsBachelor’s Degree with 2+ years of experience in data analytics,Hands-on experience in Python / SAS or R programing along with strong experience in SQL and Excel Macros.Experienced in working with large and multiple datasets, data warehouses and ability to pull data using relevant programs and coding.Well versed with necessary data preprocessing and feature engineering skills.At least 2 years of experience implementing Machine learning algorithms such as Random Forest and Gradient Boosting in solving business problems such as Default classification and macroeconomic forecasting.At least 1 year of experience implementing deep learning techniques like neural networksExposure to deep learning packages like TensorflowStrong background in Statistical AnalysisBackground in BFSI space will be preferredRoles and ResponsibilitiesIf anyone interested, please share your resume to below mail id:-Soundarya.s@manpower.co.in;RoleSoftware DeveloperIndustry TypeIT Services & ConsultingFunctional AreaIT Software - DBA, DatawarehousingEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :B.Tech/B.E. in Any SpecializationKey SkillsTensorflowPredictive ModelingRNeural NetworksMachine LearningStatistical AnalysisDeep LearningPythonRandom ForestSQL'

In [89]:
url_7='https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=16311952643542981&xp=7&px=1'
driver.get(url_7)

In [90]:
desc7=driver.find_element_by_xpath('//section[@class="job-desc"]')
desc7

In [91]:
desc7.text.replace("\n","")

'Job descriptionUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomesWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.Selecting features, building and optimizing classifiers using machine learning and deep learning techniquesCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systemsProcessing, cleansing, and verifying the integrity of data used for analysisDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.Adherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.Job Qualifications:Master s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product developmentExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.Strong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etcHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep-LearningStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.Deep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalentExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.Proficiency in using query languages, such as SQL, PL/SQLHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.Good applied statistics skills, such as distributions, statistical testing, regression, etc.Good ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.A team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.Ability to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlinesA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.A self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data scienceRoleClinical Research Associate/ScientistIndustry TypeMedical Services / HospitalFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, BiotechnologyEmployment TypeFull Time, PermanentRole CategoryR&DEducationUG :Any GraduatePG :Post Graduation Not RequiredKey SkillsProduct managementComputer sciencemetadataMachine learningAgilePLSQLHealthcareQlikViewData miningPython'

In [92]:
url_8='https://www.naukri.com/job-listings-data-scientist-neenopal-intelligent-solutions-private-limited-bangalore-bengaluru-2-to-5-years-080921006998?src=jobsearchDesk&sid=16311953614924326&xp=8&px=1'
driver.get(url_8)

desc8=driver.find_element_by_xpath('//section[@class="job-desc"]')
desc8

desc8.text.replace("\n","")

'Job descriptionRoles and ResponsibilitiesWe are looking for someone who would be responsible for analyzing data and providing business insights. As a Data Scientist your responsibilities will include understanding the business problem and experimenting with different modelling architectures to create the best possible setup from model performance as well as computational performance. To do this job successfully, you need exceptional skills in Machine Learning and Programming. Your ultimate goal will be to find the best data-based solution for the problem at hand.Moreover, you are expected to learn fast and deliver quickly in a fast-paced startup environment. If you thrive on ambiguity and are a problem solver and yet deliver value to clients, feel free to reach out to us.We are looking ONLY FOR SELF DRIVEN INDIVIDUALS with a desire to excel in Data Science Domain.Understanding business objectives and developing models that help to achieve them, along with metrics to track their progressDevelop and maintain robust data processing pipelines and reproducible modeling pipelinesBuild mathematical models to solve various problems ranging from Time Series forecasting to Neural Networks and ensure seamless deployment in production pipelines.Analyze experimental results, iterate and refine models to create significant business impactFollow strict coding standards and other software engineering best practicesDesired Candidate ProfileProven experience as a Data Scientist or similar roleStrong SQL, R/Python SkillsShould have familiarity with Machine Learning Models and fundamentals in Forecasting and Optimization TechniquesShould have strong mathematical background & analytical bent of mindStrong Problem-Solving AbilityAbility to communicate well in a highly collaborative team environment, consisting of both technical and non-technical personnelReliable self-starter that is capable of working with a high degree of autonomyPerks and BenefitsNeenOpal is a global management consulting firm with a unique and specialized focus on Data Science.We provide services across the whole value chain of an organization - Digital Strategy, Sales & Marketing, Supply Chain & Logistics as well as Finance. Youll have a blast doing it in our fun, passionate environment.RoleData scientistIndustry TypeManagement ConsultingFunctional AreaIT Software - OtherEmployment TypeFull Time, PermanentRole CategoryNot mentionedEducationUG :Any GraduatePG :Any PostgraduateKey SkillsData SciencePythonSQLExcelSoftware EngineeringProblem SolvingNeural NetworksTime SeriesData AnalysisBusiness InsightsData ProcessingMachine LearningSkills highlighted with ‘‘ are preferred keyskills'

In [93]:
url_9='https://www.naukri.com/job-listings-data-scientist-prescience-decision-solutions-private-limited-bangalore-bengaluru-5-to-10-years-080921005624?src=jobsearchDesk&sid=16311954354508896&xp=9&px=1'
driver.get(url_9)

desc9=driver.find_element_by_xpath('//section[@class="job-desc"]')
desc9

desc9.text.replace("\n","")

'Job descriptionHi,We at Prescience www.prescienceds.com looking for Data Scientist @ Bangalore .Roles and ResponsibilitiesAs a Data Scientist you will be working with senior management of clients to understand the business requirements, define right problem statement and come up with a framework for the solution. You will also work on the solution and at time guide a small team to deliver the same. Part of job role would be develop products in the area of Natural Language Processing, Conversational Interfaces, Text Mining etc.Desired Candidate ProfileWhat we are looking for:Good applied statistics skills, such as distributions, statistical testing, regression, etc. Experience in Natural Language Processing, Computer Vision. Exposure to common data science business problems like clustering, classification, anomaly detection, prediction etc.Good understanding of machine learning techniques and algorithmsExperience with common data science toolkits Python, R, SASProficiency in using query languages such as SQL, Hive, etc Experience with NoSQL database, SQL Server, PostgreSQL, MongoDBGreat communication skillsData-oriented personality and excellent business analysis skillsExperience in solutioning for data science related problems, work with business stakeholders to define right problem statement and solution.Open to professionals who have data analytics / BI background and then moved to Data Scientist roles.Perks and BenefitsRoleOtherIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryOtherEducationUG :Any GraduateKey SkillsTensorflowPostgreSQLNatural Language ProcessingNeural NetworksMachine LearningStatisticsSQLData ScienceAnomaly DetectionPytorchRNLPMongoDBQlikViewComputer VisionData AnalyticsPython'

In [106]:
url_10='https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921602158?src=jobsearchDesk&sid=16311954913772425&xp=10&px=1'
driver.get(url_10)

desc10=driver.find_element_by_xpath('//section[@class="job-desc"]')
desc10

desc10.text.replace("\n","")

'Job descriptionRoles and ResponsibilitiesJob Description:Develop data powered insights deriving from distributed, real time streaming applications, and develop AI systems leveraging on such data powered insights.Looking for candidates with passion and energy to work in a high energy team with entrepreneurial culture: Self starter attitude, quick learning aptitude, passion and willingness to deliver on time with quality.Job Skills Required:Expert data science skills using supervised and unsupervised learning. Deep learning.Compute: Spark/Storm/NiFi/Flink/Redis, or other.Visualization: Banana UI, Kibana, or other,Tools: H2O, TensorFlow, Mlib, Scikit, Keras or other.Messaging: Kafka, RabbitMQ, or other.Strong Analytical and Math/Statistics skills.Qualification :M.Tech/M.E./M.S. in Computer Science, Engineering or a related field, preferably with a concentration, major or minor in Data Science or Machine Learning. PhD would be added advantage.Desired Candidate ProfileDesirable s that would strengthen candidacy: Proven track record from public competitions such as from Kagel, Analytics Vidya, etc. Expertise in one or more high level programming languages such as Java, Scala, Python, Go, Erlang, etc.Expertise in developing scalable applications in a distributed environment.Strong SQL or NoSQL skills with one or more open source DBMS such as MySql, MongoDB, Cassandra.Expertise in containerized environments on private or public clouds - Aws Azure, etc.RoleSoftware DeveloperIndustry TypeIT Services & ConsultingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, Temporary/ContractualRole CategoryProgramming & DesignEducationUG :Any GraduatePG :Any PostgraduateKey Skillsdeep learningKibanatensorflowdata scienceKafkakerasSparkMachine Learning'

In [109]:
list=["desc1","desc2","desc3","desc4","desc5","desc6","desc7","desc8","desc9","desc10"]
list

['desc1',
 'desc2',
 'desc3',
 'desc4',
 'desc5',
 'desc6',
 'desc7',
 'desc8',
 'desc9',
 'desc10']

In [110]:
#answer 2 data frame.

jobs=pd.DataFrame({})

jobs['title']=job_titles[:10]
jobs['location']=job_location[:10]
jobs['company']=job_company[:10]
jobs['description']=list

jobs

,title,location,company,description
0,Lead Data Scientist BFSI,Bengaluru/Bangalore,IBM India Pvt. Limited,desc1
1,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM India Pvt. Limited,desc2
2,Senior Data Scientist,Bangalore/Bengaluru,Airbnb,desc3
3,SENIOR DATA SCIENTIST,Bangalore/Bengaluru,Happiest Minds Technologies Pvt.Ltd,desc4
4,Requirement For Data Scientist - Mumbai & Bang...,"Bangalore/Bengaluru, Mumbai (All Areas)",CRISIL LIMITED,desc5
5,Hiring For Data Scientist / Statistical Analyst,Bangalore/Bengaluru,ManpowerGroup Services India Private Limited,desc6
6,Associate Data Scientist,Bangalore/Bengaluru,Philips India Limited,desc7
7,Data Scientist,Bangalore/Bengaluru,NeenOpal Intelligent Solutions Private Limited,desc8
8,Data Scientist,Bangalore/Bengaluru,PRESCIENCE DECISION SOLUTIONS PRIVATE LIMITED,desc9
9,Data Scientist,Bangalore/Bengaluru,ELPIS IT SOLUTIONS PVT LTD,desc10

Q3: In this question you have to scrape data using the filters available on the 
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [175]:
url='https://www.naukri.com/'
driver.get(url)

In [176]:
search_jobs=driver.find_element_by_id('qsb-keyword-sugg')

search_jobs.send_keys("Data Scientist")

In [177]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [170]:
url='https://www.naukri.com/data-scientist-jobs?k=data%20scientist'
driver.get(url)

In [196]:
loca=driver.find_element_by_xpath('//label[@for="chk-Delhi / NCR-cityTypeGid-"]//i')
loca.click()

In [197]:
salry=driver.find_element_by_xpath('//label[@for="chk-3-6 Lakhs-ctcFilter-"]//i')
salry.click()

In [199]:
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

job_titles=[]
for i in job_title:
    job_titles.append(i.text)
    
job_titles[:10]

['Data Analyst/Data Scientist',
 'Data Scientist/ Machine Learning Engineer',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist / Data Analyst',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Immediate Openings For Data Scientist For Wipro C2H',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - WFH - MIND Infotech',
 'Junior Data Scientists & Engineers']

In [206]:
job_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span[1]')

job_loca=[]
for i in job_loc:
    job_loca.append(i.text)
    
job_loca[:10]

['Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahmedabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida',
 'Gurgaon/Gurugram',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Delhi / NCR']

In [208]:
job_com=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

job_compa=[]
for i in job_com:
    job_compa.append(i.text)
    
job_compa[:10]

['Skillenable Fintech Private Limited',
 'Creative Hands HR Consultancy',
 'GABA Consultancy services',
 'CARS24',
 'GABA Consultancy services',
 'IDESLABS PRIVATE LIMITED',
 'R Systems International Ltd.',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'PY Consultancy']

In [209]:
job_exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span[1]')

job_exper=[]
for i in job_exp:
    job_exper.append(i.text)
    
job_exper[:10]

['2-5 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '1-5 Yrs',
 '0-0 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '3-7 Yrs',
 '0-3 Yrs']

In [210]:
import pandas as pd

In [212]:
#answer3 

jobs=pd.DataFrame({})

jobs['title']=job_titles[:10]
jobs['location']=job_loca[:10]
jobs['company']=job_compa[:10]
jobs['experience']=job_exper[:10]

jobs

,title,location,company,experience
0,Data Analyst/Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Skillenable Fintech Private Limited,2-5 Yrs
1,Data Scientist/ Machine Learning Engineer,"Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme...",Creative Hands HR Consultancy,0-0 Yrs
2,Data Scientist / Data Analyst / Business Analy...,"Noida, New Delhi, Gurgaon/Gurugram",GABA Consultancy services,0-0 Yrs
3,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
5,Immediate Openings For Data Scientist For Wipr...,Gurgaon/Gurugram,IDESLABS PRIVATE LIMITED,5-10 Yrs
6,Data Scientist,Noida,R Systems International Ltd.,3-6 Yrs
7,Data Scientist,Gurgaon/Gurugram,PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs
8,Data Scientist - WFH - MIND Infotech,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC...",MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs
9,Junior Data Scientists & Engineers,"New Delhi, Delhi / NCR",PY Consultancy,0-3 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” 
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown 
page.
5. Finally create a dataframe of the scraped data.

In [222]:
url=driver.get("https://www.glassdoor.co.in/index.htm")
url

In [224]:
search_gd=driver.find_element_by_xpath('//input[@class="css-1etjok6"]')
search_gd.send_keys("Data Scientist")

In [225]:
loc_gd=driver.find_element_by_id("sc.location")
loc_gd.send_keys("Noida")

In [226]:
btn_gd=driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7"]')
btn_gd.click()

In [232]:
job_com=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]')

job_comp=[]
for i in job_com:
    job_comp.append(i.text)
    
job_comp[:10]

['Noisy Lion',
 'Grail Insights',
 'Liberin Technologies Private Limited',
 'AlgoScale Technologies Private Limited',
 'Grail Insights',
 'Lenskart',
 'Salasar New Age Technologies',
 'Techlive',
 'Ericsson',
 'Newgen Software']

In [233]:
job_post=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-17n8uzw"]')

job_posted=[]
for i in job_post:
    job_posted.append(i.text)
    
job_posted[:10]

['1d', '1d', '30d+', '15d', '1d', '3d', '30d+', '30d+', '8d', '30d+']

In [236]:
job_rat=driver.find_elements_by_xpath('//span[@class=" job-search-key-srfzj0 e1cjmv6j0"]')

job_rating=[]
for i in job_rat:
    job_rating.append(i.text)
    
job_rating[:10]

['3.9', '3.5', '3.5', '3.6', '4.1', '3.3', '3.8', '3.9', '4.0', '3.8']

In [237]:
len(job_rating)

20

In [238]:
#answer4

jobs=pd.DataFrame({})
jobs['company']=job_comp[:10]
jobs['job_posted']=job_posted[:10]
jobs['job_rating']=job_rating[:10]

jobs

                                  company job_posted job_rating
0                              Noisy Lion         1d        3.9
1                          Grail Insights         1d        3.5
2    Liberin Technologies Private Limited       30d+        3.5
3  AlgoScale Technologies Private Limited        15d        3.6
4                          Grail Insights         1d        4.1
5                                Lenskart         3d        3.3
6            Salasar New Age Technologies       30d+        3.8
7                                Techlive       30d+        3.9
8                                Ericsson         8d        4.0
9                         Newgen Software       30d+        3.8

Q5: Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page 
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company 
name, Average salary and rating of the company.
6.Store the data in a dataframe.

In [243]:
url=driver.get("https://www.glassdoor.co.in/Salaries/index.htm")
url

In [244]:
search_job=driver.find_element_by_xpath('//input[@class="keyword"]')
search_job.send_keys("Data Scientist")

In [245]:
search_loc=driver.find_element_by_id("LocationSearch")
search_loc.send_keys("Noida")

In [246]:
search_btn=driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
search_btn.click()

In [247]:
job_title=driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')

job_titles=[]
for i in job_title:
    job_titles.append(i.text)
    
job_titles[:10]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service']

In [250]:
job_pay=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]')

job_paym=[]
for i in job_pay:
    job_paym.append(i.text.replace("\n",""))
    
job_paym[:10]

['₹6,31,184 /yr',
 '₹9,08,246 /yr',
 '₹11,93,390 /yr',
 '₹xx,xx,xxx /yr',
 '₹x,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹xx,xx,xxx /yr',
 '₹x,xx,xxx /yr',
 '₹xx,xx,xxx /yr']

In [258]:
job_min=driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]')

job_mini=[]
for i in job_min:
    job_mini.append(i.text.replace("\n",""))
    
job_mini[:10]

['₹4L₹13L',
 '₹1L₹28L',
 '₹6L₹23L',
 '₹xL₹xCr',
 '₹xL₹xxL',
 '₹xL₹xxL',
 '₹xL₹xxL',
 '₹xxL₹xxL',
 '₹xL₹xxL',
 '₹xL₹xxL']

In [260]:
job_rat=driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')

job_rating=[]
for i in job_rat:
    job_rating.append(i.text.replace("\n",""))
    
job_rating[:10]

['3.9', '3.9', '4.1', '3.8', '4', '3.7', '3.7', '3.9', '4.2', '3.6']

In [265]:
sal=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-auto"]')

sal_num=[]
for i in sal:
    sal_num.append(i.text.replace("\n",""))
    
sal_num[:10]

['21 salaries',
 '20 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '10 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries']

In [266]:
#Answer5

jobs=pd.DataFrame({})
jobs['Job Titles']=job_titles[:10]
jobs['Avg Sal']=job_paym[:10]
jobs['Min-Max']=job_mini[:10]
jobs['Rating']=job_rating[:10]
jobs['Salaries_num']=sal_num[:10]

jobs

                  Job Titles         Avg Sal   Min-Max Rating Salaries_num
0  Tata Consultancy Services   ₹6,31,184 /yr   ₹4L₹13L    3.9  21 salaries
1                        IBM   ₹9,08,246 /yr   ₹1L₹28L    3.9  20 salaries
2                  Accenture  ₹11,93,390 /yr   ₹6L₹23L    4.1  15 salaries
3                  Delhivery  ₹xx,xx,xxx /yr   ₹xL₹xCr    3.8  15 salaries
4         Ericsson-Worldwide   ₹x,xx,xxx /yr   ₹xL₹xxL      4  14 salaries
5         UnitedHealth Group  ₹xx,xx,xxx /yr   ₹xL₹xxL    3.7  14 salaries
6                      Optum  ₹xx,xx,xxx /yr   ₹xL₹xxL    3.7  10 salaries
7     Optum Global Solutions  ₹xx,xx,xxx /yr  ₹xxL₹xxL    3.9  10 salaries
8         Valiance Solutions   ₹x,xx,xxx /yr   ₹xL₹xxL    4.2  10 salaries
9                EXL Service  ₹xx,xx,xxx /yr   ₹xL₹xxL    3.6   9 salaries

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses

In [267]:
url=driver.get("https://www.flipkart.com/")
url

In [269]:
search=driver.find_element_by_xpath('//input[@class="_3704LK"]')

search.send_keys("sunglasses")

In [270]:
btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')

btn.click()

In [273]:
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

brand_nam40=[]
for i in brand:
    brand_nam40.append(i.text.replace("\n",""))
    
brand_nam40

['SHAAH COLLECTIONS',
 'PIRASO',
 'Elligator',
 'kingsunglasses',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'NuVew',
 'SUNBEE',
 'PHENOMENAL',
 'kingsunglasses',
 'Fastrack',
 'DEIXELS',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Rich Club',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'OCCARIO',
 'ROYAL SON',
 'Elligator',
 'HIPPON',
 'hipe',
 'GANSTA',
 'kingsunglasses',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'hipe',
 'kingsunglasses',
 'Elligator',
 'Singco India']

In [281]:
len(brand_nam40)

40

In [274]:
desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

desc40=[]
for i in desc:
    desc40.append(i.text.replace("\n",""))
    
desc40

['UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Wayfarer Sunglasses (57)',
 'Others Round Sunglasses (52)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Aviator Sunglasses (Free Size)']

In [275]:
len(desc40)

40

In [276]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

price40=[]
for i in price:
    price40.append(i.text.replace("\n",""))
    
price40

['₹198',
 '₹225',
 '₹329',
 '₹269',
 '₹474',
 '₹225',
 '₹758',
 '₹509',
 '₹202',
 '₹404',
 '₹331',
 '₹215',
 '₹520',
 '₹186',
 '₹265',
 '₹399',
 '₹269',
 '₹899',
 '₹202',
 '₹246',
 '₹499',
 '₹225',
 '₹449',
 '₹215',
 '₹399',
 '₹449',
 '₹499',
 '₹179',
 '₹379',
 '₹355',
 '₹257',
 '₹209',
 '₹279',
 '₹314',
 '₹284',
 '₹449',
 '₹210',
 '₹189',
 '₹443',
 '₹334']

In [294]:
disc=driver.find_elements_by_xpath('//div[@class="_25b18c"]//span[1]')

disc40=[]
for i in disc:
    disc40.append(i.text.replace("\n",""))
    
disc40[:39]

['88% off',
 '85% off',
 '86% off',
 '89% off',
 '68% off',
 '85% off',
 '15% off',
 '36% off',
 '81% off',
 '79% off',
 '80% off',
 '78% off',
 '34% off',
 '78% off',
 '73% off',
 '80% off',
 '89% off',
 '83% off',
 '83% off',
 '77% off',
 '85% off',
 '79% off',
 '73% off',
 '84% off',
 '82% off',
 '37% off',
 '69% off',
 '74% off',
 '87% off',
 '78% off',
 '79% off',
 '86% off',
 '80% off',
 '71% off',
 '77% off',
 '83% off',
 '85% off',
 '73% off',
 '72% off']

In [297]:
#Answer6(first 40)

flip=pd.DataFrame({})
flip['Brand Name']=brand_nam40
flip['Description']=desc40
flip['Price']=price40
flip['Discount']=disc40[:40]

flip

,Brand Name,Description,Price,Discount
0,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
1,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
2,Elligator,UV Protection Round Sunglasses (54),₹329,86% off
3,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269,89% off
4,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹474,68% off
5,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
6,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
7,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,36% off
8,kingsunglasses,UV Protection Round Sunglasses (54),₹202,81% off
9,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
10,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹331,80% off
11,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹215,78% off
12,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹520,34% off
13,NuVew,"UV Protection, Mirrored Aviator Sunglasses (58)",₹186,78% off
14,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹265,73% off
15,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
16,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269,89% off
17,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹899,83% off
18,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹202,83% off
19,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹246,77% off
20,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,85% off
21,PIRASO,UV Protection Aviator Sunglasses (54),₹225,79% off
22,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449,73% off
23,Rich Club,"UV Protection, Mirrored, Gradient Round Sungla...",₹215,84% off
24,PIRASO,UV Protection Aviator Sunglasses (58),₹399,82% off
25,PIRASO,UV Protection Butterfly Sunglasses (65),₹449,37% off
26,Fastrack,UV Protection Wayfarer Sunglasses (57),₹499,69% off
27,OCCARIO,Others Round Sunglasses (52),₹179,74% off
28,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,87% off
29,Elligator,Mirrored Round Sunglasses (53),₹355,78% off
30,HIPPON,UV Protection Wayfarer Sunglasses (55),₹257,79% off
31,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹209,86% off
32,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹279,80% off
33,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹314,71% off
34,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹284,77% off
35,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,83% off
36,hipe,"UV Protection, Night Vision, Riding Glasses, G...",₹210,85% off
37,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹189,73% off
38,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹443,72% off
39,Singco India,UV Protection Aviator Sunglasses (Free Size),₹334,68% off

In [298]:
next_pg=driver.find_element_by_xpath('//a[@class="ge-49M"]')
next_pg.click()

In [299]:
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

brand_nam80=[]
for i in brand:
    brand_nam80.append(i.text.replace("\n",""))
    
brand_nam80

['PHENOMENAL',
 'Fastrack',
 'Elligator',
 'PHENOMENAL',
 'ROYAL SON',
 'SRPM',
 'Silver Kartz',
 'Singco',
 'PIRASO',
 'NuVew',
 'GANSTA',
 'DEIXELS',
 'povty',
 'Singco India',
 'ROYAL SON',
 'GANSTA',
 'AISLIN',
 'SUNBEE',
 'GANSTA',
 'Badfella',
 'kingsunglasses',
 'Fravy',
 'ROYAL SON',
 'PHENOMENAL',
 'Elligator',
 'ROYAL SON',
 'GANSTA',
 'agera',
 'ROYAL SON',
 'Singco India',
 'Singco India',
 'ROYAL SON',
 'GANSTA',
 'ROYAL SON',
 'elegante',
 'ROZZETTA CRAFT',
 'hipe',
 'NuVew',
 'NuVew',
 'AISLIN']

In [300]:
desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

desc80=[]
for i in desc:
    desc80.append(i.text.replace("\n",""))
    
desc80

['UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Oval Sunglasses (56)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection, Gradient Aviator Sunglasses (55)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Retro Square, Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection Over-sized Sunglasses (60)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Rectangular Sunglasses (65)',
 'Mirrored Round Sunglasses (Free Size)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Gradient Oval Sunglasses (58)']

In [301]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

price80=[]
for i in price:
    price80.append(i.text.replace("\n",""))
    
price80

['₹399',
 '₹695',
 '₹398',
 '₹295',
 '₹569',
 '₹230',
 '₹284',
 '₹239',
 '₹314',
 '₹202',
 '₹269',
 '₹236',
 '₹349',
 '₹293',
 '₹569',
 '₹274',
 '₹498',
 '₹314',
 '₹198',
 '₹269',
 '₹206',
 '₹299',
 '₹203',
 '₹319',
 '₹312',
 '₹474',
 '₹221',
 '₹224',
 '₹664',
 '₹331',
 '₹225',
 '₹248',
 '₹230',
 '₹664',
 '₹399',
 '₹449',
 '₹319',
 '₹327',
 '₹186',
 '₹498']

In [305]:
disc=driver.find_elements_by_xpath('//div[@class="_25b18c"]//span[1]')

disc80=[]
for i in disc:
    disc80.append(i.text.replace("\n",""))
    
disc80[:40]

['80% off',
 '13% off',
 '73% off',
 '87% off',
 '71% off',
 '76% off',
 '76% off',
 '76% off',
 '80% off',
 '74% off',
 '86% off',
 '60% off',
 '65% off',
 '82% off',
 '71% off',
 '86% off',
 '70% off',
 '75% off',
 '88% off',
 '73% off',
 '82% off',
 '80% off',
 '79% off',
 '84% off',
 '84% off',
 '68% off',
 '77% off',
 '80% off',
 '66% off',
 '83% off',
 '67% off',
 '80% off',
 '78% off',
 '66% off',
 '80% off',
 '77% off',
 '83% off',
 '73% off',
 '72% off',
 '67% off']

In [303]:
len(disc80)

45

In [306]:
#Answer6(next 40)

flip=pd.DataFrame({})
flip['Brand Name']=brand_nam80
flip['Description']=desc80
flip['Price']=price80
flip['Discount']=disc80[:40]

flip

,Brand Name,Description,Price,Discount
0,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
1,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹695,13% off
2,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹398,73% off
3,PHENOMENAL,UV Protection Round Sunglasses (53),₹295,87% off
4,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹569,71% off
5,SRPM,UV Protection Wayfarer Sunglasses (53),₹230,76% off
6,Silver Kartz,UV Protection Oval Sunglasses (56),₹284,76% off
7,Singco,Mirrored Aviator Sunglasses (53),₹239,76% off
8,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹314,80% off
9,NuVew,UV Protection Aviator Sunglasses (58),₹202,74% off
10,GANSTA,UV Protection Aviator Sunglasses (57),₹269,86% off
11,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹236,60% off
12,povty,UV Protection Wayfarer Sunglasses (Free Size),₹349,65% off
13,Singco India,"Riding Glasses, Others, UV Protection Wrap-aro...",₹293,82% off
14,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹569,71% off
15,GANSTA,"UV Protection, Gradient Aviator Sunglasses (55)",₹274,86% off
16,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (61)",₹498,70% off
17,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹314,75% off
18,GANSTA,"Night Vision, Riding Glasses Wayfarer Sunglass...",₹198,88% off
19,Badfella,"Polarized, UV Protection Retro Square Sunglass...",₹269,73% off
20,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹206,82% off
21,Fravy,UV Protection Retro Square Sunglasses (Free Size),₹299,80% off
22,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹203,79% off
23,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹319,84% off
24,Elligator,"UV Protection Retro Square, Aviator Sunglasses...",₹312,84% off
25,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹474,68% off
26,GANSTA,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹221,77% off
27,agera,Gradient Aviator Sunglasses (55),₹224,80% off
28,ROYAL SON,UV Protection Over-sized Sunglasses (60),₹664,66% off
29,Singco India,"Mirrored, UV Protection, Riding Glasses, Other...",₹331,83% off
30,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹225,67% off
31,ROYAL SON,UV Protection Wayfarer Sunglasses (55),₹248,80% off
32,GANSTA,UV Protection Aviator Sunglasses (57),₹230,78% off
33,ROYAL SON,Polarized Rectangular Sunglasses (65),₹664,66% off
34,elegante,Mirrored Round Sunglasses (Free Size),₹399,80% off
35,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...",₹449,77% off
36,hipe,UV Protection Sports Sunglasses (Free Size),₹319,83% off
37,NuVew,"UV Protection, Mirrored Sports Sunglasses (62)",₹327,73% off
38,NuVew,UV Protection Wayfarer Sunglasses (56),₹186,72% off
39,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹498,67% off

In [344]:
next_pg3=driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')

nxt_pg=[]
for i in next_pg3:
    nxt_pg.append(i.get_attribute('href'))
    
nxt_pg[3]

'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3'

In [346]:
next_page3=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a")[-1].click()
time.sleep(2)

NameError: name 'By' is not defined

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
As shown in the above page you have to scrape the tick marked attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews.

In [5]:
url=driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")
url

In [8]:
rati=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating=[]
for i in rati:
    rating.append(i.text)
    
rating

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [11]:
rev=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

review=[]
for i in rev:
    review.append(i.text)
    
review

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended']

In [13]:
desc=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

descrip=[]
for i in desc:
    descrip.append(i.text.replace("\n"," "))
    
descrip

['The Best Phone for the Money  The iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.  Compelling ultra-wide camera New Night mode is excellent Long battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros -Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour accuracy and super responsive -Build quality as expect from apple sturdy premium durable beautiful stylish. -Os most stable os in smartphone industry  Cons -No 5G -Display is not based on OLED technology -Charger headphones and 1 apple stic... READ MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red My experience after using 3 weeks 1. The delivery ... READ MORE',
 'Amazing Powerful and Durable Gadget.  I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.  I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.  Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.  I’ve attached my puppy pics and no fi... READ MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow']

In [14]:
len(descrip)

10

In [15]:
first10=pd.DataFrame({})

first10['rating']=rating
first10['review']=review
first10['description']=descrip

first10

,rating,review,description
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Great product,Amazing Powerful and Durable Gadget. I’m am v...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
9,5,Highly recommended,What a camera .....just awesome ..you can feel...

unable to proceed further in next page.

Mr Keshav Bansal sir shared a code but that's not working or i'm unable that.the code is

driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a")[-1].click()
time.sleep(2)

In [19]:
next1=driver.find_element_by_xpath('//nav[@class="yFHi8N"]')
next1.click()